{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>

{% if wrongPassword %}
<p>User oder Password ist falsch</p>
{% endif %}

<form action="/login/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Username</label>
    </div>
   
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Password</label>
    </div>
    <div><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/register/">Sign up</a> </div>
</form>

{% endblock %}