{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form action="/register/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="username" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Username</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" name="email" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Email</label>
        </div>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" id="sample5">
        <label class="mdl-textfield__label" for="sample5">Password</label>
    </div>
    <div><button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register</button>
    </div>
</form>
{% endblock %}